---
---

@import "{{ site.theme }}";

body {
    display: grid;
    row-gap: 5px;
    column-gap: 15px;

    grid-template-columns: 200px auto;    
    grid-template-rows: 145px 30px auto 25px;

    @media screen and (min-width: 750px) {
        grid-template-columns: 200px auto 250px;
    }

    @media screen and (min-width: 400px) {
        grid-template-rows: 145px auto 25px;
    }
}

a {
    cursor: pointer;
}

// reset default bottom margin on section elements from theme.
section {
    margin: 0
}

header {
    grid-column: 1 / span 3;
    grid-row-start: 1;
    
    @media screen and (min-width: 400px) {
        grid-column: 1 / span 4;
    }

    .wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        @media screen and (min-width: 400px) {
            grid-template-columns: auto 175px;
        }

        h1 a {
            color: #b5e853;
        }
        h2 {
            margin-bottom: 0;
        }

        #downloads {
            display: none;

            @media screen and (min-width: 400px) {
                grid-column-start: 2;
                grid-row-start: 1;
                display: block;
            }
        }

        #title {
            grid-column-start: 1;
            grid-row-start: 1;
            padding-left: 50px;
            align-self: left;
            justify-self: left;

            @media screen and (min-width: 400px) {
                align-self: center;
                justify-self: center;
                padding-left: 0;
            }
        }
    }

}

aside nav {
    padding: 0 5px;
}

aside { 
    grid-row-start: 3;
    @media screen and (min-width: 400px) {
        grid-row-start: 2;
    }
}

nav {
    grid-row-start: 2;
    grid-column: 1 / span 2;

    font-size: small;

    @media screen and (max-width: 399px) {
        grid-row-start: 2;

        ul {
            margin-left: -20px;
            list-style: none;

            li {
                display: inline;
            }
            li::before {
                content: './';
                margin: 0 5px 0 0;
            }
        }
    }
}

@media (max-width: 750px) {
    aside.right-gutter {
        display: none;
    }
}

article { 
    grid-row-start: 3;
    grid-column: 1 / span 2;

    @media screen and (min-width: 400px) {
        grid-row-start: 2;
        grid-column: 2 / span 2;
    }
}

pre {
    font-size: 9pt;
    max-width: 95%;
    overflow-y: auto;
}

footer {
    background-color: rgb(21, 21, 21);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding: 7px 10px;
    font-size: 9pt;
}

.pull-left {
    float: left;
    margin-right: 40px;
}
.pull-right {
    float: right;
    margin-left: 40px;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img.profile-pic {
    margin: -20px auto;
    width: 200px;
}

img.sample-screenshot {
    width: 200px;
    display: block;
    margin: 0 auto;
}